.main{
    background-color: #efeef1;
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px){
    .main{
        display: flex;
        flex-direction: column;
        .mainImg{
            margin-left: 15px;
        }
        .mainDesc{
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

}